importFrom("utils", "read.csv", "read.csv2", "read.delim",
           "type.convert", "write.csv2")
importFrom("sp", "char2dms")
importFrom("stringr", "str_trim", "str_pad")
importFrom("vegsoup", "layers", "taxon", "combine")
importFrom("linktaxa", "groupSensuLato")

export(
    "csv2txt",
    "extractTaxon",
    "replaceTaxon",
    "splitArray",
    "trimTaxon",
    "join",
    "char2dd",
    "turbovegLayers",
    "combineSensuLato"
)
